<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.SfSkinManager.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.FluentDark.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.FluentLight.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.Lime.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.MaterialDark.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.MaterialDarkBlue.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.MaterialLight.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.MaterialLightBlue.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.Office2019Colorful.WPF" version="19.1.0.54" targetFramework="net472" />
  <package id="Syncfusion.Themes.Saffron.WPF" version="19.1.0.54" targetFramework="net472" />
</packages>